.cta_btn {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #070747;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}